/* [next]/internal/font/google/inter_5972bc34.module.css [app-client] (css) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/2c55a0e60120577a-s.2a48534a.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/9c72aa0f40e4eef8-s.18a48cbc.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/ad66f9afd8947f86-s.7a40eb73.woff2") format("woff2");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/5476f68d60460930-s.c995e352.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/2bbe8d2671613f1f-s.76dcb0b2.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/1bffadaabf893a1e-s.7cd81963.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/83afe278b6a6bb3c-s.p.3a6ba036.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Inter Fallback;
  src: local(Arial);
  ascent-override: 90.44%;
  descent-override: 22.52%;
  line-gap-override: 0.0%;
  size-adjust: 107.12%;
}

.inter_5972bc34-module__OU16Qa__className {
  font-family: Inter, Inter Fallback;
  font-style: normal;
}

/* [project]/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-divide-y-reverse: 0;
      --tw-border-style: solid;
      --tw-duration: initial;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
    }
  }
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.top-1\/2 {
  top: 50%;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-50 {
  z-index: 50;
}

.mx-auto {
  margin-inline: auto;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.inline-flex {
  display: inline-flex;
}

.h-\[calc\(100vh-8rem\)\] {
  height: calc(100vh - 8rem);
}

.max-h-\[90vh\] {
  max-height: 90vh;
}

.min-h-screen {
  min-height: 100vh;
}

.w-1\/4 {
  width: 25%;
}

.w-full {
  width: 100%;
}

.max-w-none {
  max-width: none;
}

.min-w-full {
  min-width: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow {
  flex-grow: 1;
}

.-translate-y-1\/2 {
  --tw-translate-y: calc(calc(1 / 2 * 100%) * -1);
  translate: var(--tw-translate-x) var(--tw-translate-y);
}

.transform {
  transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, );
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.list-inside {
  list-style-position: inside;
}

.list-disc {
  list-style-type: disc;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

:where(.divide-y > :not(:last-child)) {
  --tw-divide-y-reverse: 0;
  border-bottom-style: var(--tw-border-style);
  border-top-style: var(--tw-border-style);
  border-top-width: calc(1px * var(--tw-divide-y-reverse));
  border-bottom-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.rounded-full {
  border-radius: 3.40282e38px;
}

.border {
  border-style: var(--tw-border-style);
  border-width: 1px;
}

.border-2 {
  border-style: var(--tw-border-style);
  border-width: 2px;
}

.border-r {
  border-right-style: var(--tw-border-style);
  border-right-width: 1px;
}

.border-b {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 2px;
}

.border-l-4 {
  border-left-style: var(--tw-border-style);
  border-left-width: 4px;
}

.border-transparent {
  border-color: #0000;
}

.bg-gradient-to-br {
  --tw-gradient-position: to bottom right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  --tw-gradient-position: to right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.uppercase {
  text-transform: uppercase;
}

.opacity-10 {
  opacity: .1;
}

.opacity-25 {
  opacity: .25;
}

.opacity-50 {
  opacity: .5;
}

.opacity-75 {
  opacity: .75;
}

.transition-all {
  transition-property: all;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.transition-colors {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.duration-150 {
  --tw-duration: .15s;
  transition-duration: .15s;
}

.duration-200 {
  --tw-duration: .2s;
  transition-duration: .2s;
}

.last\:border-b-0:last-child {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 0;
}

.focus\:border-transparent:focus {
  border-color: #0000;
}

.focus\:ring-2:focus {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.focus\:ring-offset-2:focus {
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
}

.focus\:outline-none:focus {
  --tw-outline-style: none;
  outline-style: none;
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.disabled\:opacity-50:disabled {
  opacity: .5;
}

.introjs-tour {
  transition: all .3s ease-out;
}

.introjs-overlay {
  box-sizing: content-box;
  z-index: 999999;
  opacity: 0;
  transition: all .3s ease-out;
  position: absolute;
}

.introjs-showElement {
  z-index: 9999999 !important;
}

tr.introjs-showElement > td, tr.introjs-showElement > th {
  position: relative;
  z-index: 9999999 !important;
}

.introjs-disableInteraction {
  opacity: 0;
  background-color: #fff;
  position: absolute;
  z-index: 99999999 !important;
}

.introjs-relativePosition {
  position: relative;
}

.introjs-helperLayer {
  box-sizing: content-box;
  z-index: 9999998;
  border-radius: 4px;
  transition: all .3s ease-out;
  position: absolute;
}

.introjs-helperLayer *, .introjs-helperLayer :before, .introjs-helperLayer :after {
  box-sizing: content-box;
}

.introjs-tooltipReferenceLayer {
  box-sizing: content-box;
  visibility: hidden;
  z-index: 100000000;
  background-color: #0000;
  font-family: Helvetica Neue, Inter, ui-sans-serif, Apple Color Emoji, Helvetica, Arial, sans-serif;
  transition: all .3s ease-out;
  position: absolute;
}

.introjs-tooltipReferenceLayer * {
  font-family: Helvetica Neue, Inter, ui-sans-serif, Apple Color Emoji, Helvetica, Arial, sans-serif;
}

.introjs-helperNumberLayer {
  color: #9e9e9e;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Helvetica Neue, Inter, ui-sans-serif, Apple Color Emoji, Helvetica, Arial, sans-serif;
}

.introjs-arrow {
  content: "";
  border: 5px solid #0000;
  position: absolute;
}

.introjs-arrow.top {
  border-bottom-color: #fff;
  top: -10px;
  left: 10px;
}

.introjs-arrow.top-right {
  border-bottom-color: #fff;
  top: -10px;
  right: 10px;
}

.introjs-arrow.top-middle {
  border-bottom-color: #fff;
  margin-left: -5px;
  top: -10px;
  left: 50%;
}

.introjs-arrow.right {
  border-left-color: #fff;
  top: 10px;
  right: -10px;
}

.introjs-arrow.right-bottom {
  border-left-color: #fff;
  bottom: 10px;
  right: -10px;
}

.introjs-arrow.bottom {
  border-top-color: #fff;
  bottom: -10px;
  left: 10px;
}

.introjs-arrow.bottom-right {
  border-top-color: #fff;
  bottom: -10px;
  right: 10px;
}

.introjs-arrow.bottom-middle {
  border-top-color: #fff;
  margin-left: -5px;
  bottom: -10px;
  left: 50%;
}

.introjs-arrow.left {
  border-right-color: #fff;
  top: 10px;
  left: -10px;
}

.introjs-arrow.left-bottom {
  border-right-color: #fff;
  bottom: 10px;
  left: -10px;
}

.introjs-tooltip {
  box-sizing: content-box;
  visibility: visible;
  background-color: #fff;
  border-radius: 5px;
  min-width: 250px;
  max-width: 300px;
  transition: opacity .1s ease-out;
  position: absolute;
  box-shadow: 0 3px 30px #2121214d;
}

.introjs-tooltiptext {
  padding: 20px;
}

.introjs-dontShowAgain {
  padding-left: 20px;
  padding-right: 20px;
}

.introjs-dontShowAgain input {
  width: 10px;
  height: 10px;
  margin: 0 0 2px;
  padding: 0;
  display: inline;
}

.introjs-dontShowAgain label {
  color: #616161;
  -webkit-user-select: none;
  user-select: none;
  background-color: #fff;
  margin: 0 0 0 5px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}

.introjs-tooltip-title {
  width: 90%;
  min-height: 1.5em;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.introjs-tooltip-header {
  min-height: 1.5em;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.introjs-tooltipbuttons {
  text-align: right;
  white-space: nowrap;
  border-top: 1px solid #e0e0e0;
  padding: 10px;
}

.introjs-tooltipbuttons:after {
  content: "";
  visibility: hidden;
  clear: both;
  height: 0;
  display: block;
}

.introjs-button {
  box-sizing: content-box;
  text-shadow: 1px 1px #fff;
  color: #424242;
  white-space: nowrap;
  cursor: pointer;
  zoom: 1;
  background-color: #f4f4f4;
  border: 1px solid #bdbdbd;
  border-radius: .2em;
  outline: 0;
  padding: .5rem 1rem;
  font-size: 14px;
  text-decoration: none;
  display: inline;
  position: relative;
  overflow: visible;
}

.introjs-button:hover {
  color: #212121;
  background-color: #e0e0e0;
  border-color: #9e9e9e;
  outline: 0;
  text-decoration: none;
}

.introjs-button:focus {
  color: #212121;
  background-color: #eee;
  border: 1px solid #616161;
  outline: 0;
  text-decoration: none;
  box-shadow: 0 0 0 .2rem #9e9e9e80;
}

.introjs-button:active {
  color: #212121;
  background-color: #e0e0e0;
  border-color: #9e9e9e;
  outline: 0;
  text-decoration: none;
}

.introjs-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.introjs-skipbutton {
  color: #616161;
  cursor: pointer;
  text-align: center;
  width: 45px;
  height: 45px;
  font-size: 22px;
  font-weight: 700;
  line-height: 45px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.introjs-skipbutton:focus, .introjs-skipbutton:hover {
  color: #212121;
  outline: 0;
  text-decoration: none;
}

.introjs-prevbutton {
  float: left;
}

.introjs-nextbutton {
  float: right;
}

.introjs-disabled, .introjs-disabled:focus, .introjs-disabled:hover {
  color: #9e9e9e;
  box-shadow: none;
  cursor: default;
  background-color: #f4f4f4;
  background-image: none;
  border-color: #bdbdbd;
  text-decoration: none;
}

.introjs-hidden {
  display: none;
}

.introjs-bullets {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.introjs-bullets ul {
  box-sizing: content-box;
  clear: both;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}

.introjs-bullets ul li {
  box-sizing: content-box;
  float: left;
  margin: 0 2px;
  list-style: none;
}

.introjs-bullets ul li a {
  box-sizing: content-box;
  cursor: pointer;
  background: #ccc;
  border-radius: 10px;
  width: 6px;
  height: 6px;
  text-decoration: none;
  transition: width .1s ease-in;
  display: block;
}

.introjs-bullets ul li a:focus, .introjs-bullets ul li a:hover {
  background: #999;
  outline: 0;
  width: 15px;
  text-decoration: none;
}

.introjs-bullets ul li a.active {
  background: #999;
  width: 15px;
}

.introjs-progress {
  box-sizing: content-box;
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 10px;
  margin: 10px;
  overflow: hidden;
}

.introjs-progressbar {
  box-sizing: content-box;
  float: left;
  text-align: center;
  background-color: #08c;
  width: 0%;
  height: 100%;
  font-size: 10px;
  line-height: 10px;
}

.introjsFloatingElement {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.introjs-fixedTooltip {
  position: fixed;
}

.introjs-hint {
  box-sizing: content-box;
  cursor: pointer;
  background: none;
  width: 20px;
  height: 15px;
  position: absolute;
}

.introjs-hint:focus {
  border: 0;
  outline: 0;
}

.introjs-hint:hover > .introjs-hint-pulse {
  background-color: #3c3c3c91;
}

.introjs-hidehint {
  display: none;
}

.introjs-fixedhint {
  position: fixed;
}

@keyframes introjspulse {
  0% {
    transform: scale(.95);
    box-shadow: 0 0 #000000b3;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #0000;
  }

  100% {
    transform: scale(.95);
    box-shadow: 0 0 #0000;
  }
}

.introjs-hint-pulse {
  box-sizing: content-box;
  z-index: 10;
  background-color: #8888883d;
  border-radius: 30px;
  width: 15px;
  height: 15px;
  transition: all .2s ease-out;
  animation: 2s infinite introjspulse;
  position: absolute;
}

.introjs-hint-no-anim .introjs-hint-pulse {
  animation: none;
}

.introjs-hint-dot {
  box-sizing: content-box;
  z-index: 1;
  opacity: 0;
  background: none;
  border-radius: 60px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -18px;
  left: -18px;
}

:root {
  --foreground-rgb: 17, 24, 39;
  --background-rgb: 249, 250, 251;
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.introjs-tooltip {
  min-width: 300px;
  max-width: 500px;
}

.introjs-button {
  border-radius: .375rem;
  padding: .5rem 1rem;
}

.introjs-skipbutton {
  color: #6b7280;
}

.introjs-nextbutton {
  color: #fff;
  background-color: #3b82f6;
}

.introjs-prevbutton {
  color: #fff;
  background-color: #6b7280;
}

.introjs-donebutton {
  color: #fff;
  background-color: #10b981;
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false
}

@property --tw-divide-y-reverse {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

/* [project]/node_modules/intro.js/introjs.css [app-client] (css) */
.introjs-tour {
  transition: all .3s ease-out;
}

.introjs-overlay {
  box-sizing: content-box;
  z-index: 999999;
  opacity: 0;
  transition: all .3s ease-out;
  position: absolute;
}

.introjs-showElement {
  z-index: 9999999 !important;
}

tr.introjs-showElement > td, tr.introjs-showElement > th {
  position: relative;
  z-index: 9999999 !important;
}

.introjs-disableInteraction {
  opacity: 0;
  background-color: #fff;
  position: absolute;
  z-index: 99999999 !important;
}

.introjs-relativePosition {
  position: relative;
}

.introjs-helperLayer {
  box-sizing: content-box;
  z-index: 9999998;
  border-radius: 4px;
  transition: all .3s ease-out;
  position: absolute;
}

.introjs-helperLayer *, .introjs-helperLayer :before, .introjs-helperLayer :after {
  box-sizing: content-box;
}

.introjs-tooltipReferenceLayer {
  box-sizing: content-box;
  visibility: hidden;
  z-index: 100000000;
  background-color: #0000;
  font-family: Helvetica Neue, Inter, ui-sans-serif, Apple Color Emoji, Helvetica, Arial, sans-serif;
  transition: all .3s ease-out;
  position: absolute;
}

.introjs-tooltipReferenceLayer * {
  font-family: Helvetica Neue, Inter, ui-sans-serif, Apple Color Emoji, Helvetica, Arial, sans-serif;
}

.introjs-helperNumberLayer {
  color: #9e9e9e;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Helvetica Neue, Inter, ui-sans-serif, Apple Color Emoji, Helvetica, Arial, sans-serif;
}

.introjs-arrow {
  content: "";
  border: 5px solid #0000;
  position: absolute;
}

.introjs-arrow.top {
  border-bottom-color: #fff;
  top: -10px;
  left: 10px;
}

.introjs-arrow.top-right {
  border-bottom-color: #fff;
  top: -10px;
  right: 10px;
}

.introjs-arrow.top-middle {
  border-bottom-color: #fff;
  margin-left: -5px;
  top: -10px;
  left: 50%;
}

.introjs-arrow.right {
  border-left-color: #fff;
  top: 10px;
  right: -10px;
}

.introjs-arrow.right-bottom {
  border-left-color: #fff;
  bottom: 10px;
  right: -10px;
}

.introjs-arrow.bottom {
  border-top-color: #fff;
  bottom: -10px;
  left: 10px;
}

.introjs-arrow.bottom-right {
  border-top-color: #fff;
  bottom: -10px;
  right: 10px;
}

.introjs-arrow.bottom-middle {
  border-top-color: #fff;
  margin-left: -5px;
  bottom: -10px;
  left: 50%;
}

.introjs-arrow.left {
  border-right-color: #fff;
  top: 10px;
  left: -10px;
}

.introjs-arrow.left-bottom {
  border-right-color: #fff;
  bottom: 10px;
  left: -10px;
}

.introjs-tooltip {
  box-sizing: content-box;
  visibility: visible;
  background-color: #fff;
  border-radius: 5px;
  min-width: 250px;
  max-width: 300px;
  transition: opacity .1s ease-out;
  position: absolute;
  box-shadow: 0 3px 30px #2121214d;
}

.introjs-tooltiptext {
  padding: 20px;
}

.introjs-dontShowAgain {
  padding-left: 20px;
  padding-right: 20px;
}

.introjs-dontShowAgain input {
  width: 10px;
  height: 10px;
  margin: 0 0 2px;
  padding: 0;
  display: inline;
}

.introjs-dontShowAgain label {
  color: #616161;
  -webkit-user-select: none;
  user-select: none;
  background-color: #fff;
  margin: 0 0 0 5px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}

.introjs-tooltip-title {
  width: 90%;
  min-height: 1.5em;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.introjs-tooltip-header {
  min-height: 1.5em;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.introjs-tooltipbuttons {
  text-align: right;
  white-space: nowrap;
  border-top: 1px solid #e0e0e0;
  padding: 10px;
}

.introjs-tooltipbuttons:after {
  content: "";
  visibility: hidden;
  clear: both;
  height: 0;
  display: block;
}

.introjs-button {
  box-sizing: content-box;
  text-shadow: 1px 1px #fff;
  color: #424242;
  white-space: nowrap;
  cursor: pointer;
  zoom: 1;
  background-color: #f4f4f4;
  border: 1px solid #bdbdbd;
  border-radius: .2em;
  outline: 0;
  padding: .5rem 1rem;
  font-size: 14px;
  text-decoration: none;
  display: inline;
  position: relative;
  overflow: visible;
}

.introjs-button:hover {
  color: #212121;
  background-color: #e0e0e0;
  border-color: #9e9e9e;
  outline: 0;
  text-decoration: none;
}

.introjs-button:focus {
  color: #212121;
  background-color: #eee;
  border: 1px solid #616161;
  outline: 0;
  text-decoration: none;
  box-shadow: 0 0 0 .2rem #9e9e9e80;
}

.introjs-button:active {
  color: #212121;
  background-color: #e0e0e0;
  border-color: #9e9e9e;
  outline: 0;
  text-decoration: none;
}

.introjs-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.introjs-skipbutton {
  color: #616161;
  cursor: pointer;
  text-align: center;
  width: 45px;
  height: 45px;
  font-size: 22px;
  font-weight: 700;
  line-height: 45px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.introjs-skipbutton:focus, .introjs-skipbutton:hover {
  color: #212121;
  outline: 0;
  text-decoration: none;
}

.introjs-prevbutton {
  float: left;
}

.introjs-nextbutton {
  float: right;
}

.introjs-disabled, .introjs-disabled:focus, .introjs-disabled:hover {
  color: #9e9e9e;
  box-shadow: none;
  cursor: default;
  background-color: #f4f4f4;
  background-image: none;
  border-color: #bdbdbd;
  text-decoration: none;
}

.introjs-hidden {
  display: none;
}

.introjs-bullets {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.introjs-bullets ul {
  box-sizing: content-box;
  clear: both;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}

.introjs-bullets ul li {
  box-sizing: content-box;
  float: left;
  margin: 0 2px;
  list-style: none;
}

.introjs-bullets ul li a {
  box-sizing: content-box;
  cursor: pointer;
  background: #ccc;
  border-radius: 10px;
  width: 6px;
  height: 6px;
  text-decoration: none;
  transition: width .1s ease-in;
  display: block;
}

.introjs-bullets ul li a:focus, .introjs-bullets ul li a:hover {
  background: #999;
  outline: 0;
  width: 15px;
  text-decoration: none;
}

.introjs-bullets ul li a.active {
  background: #999;
  width: 15px;
}

.introjs-progress {
  box-sizing: content-box;
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 10px;
  margin: 10px;
  overflow: hidden;
}

.introjs-progressbar {
  box-sizing: content-box;
  float: left;
  text-align: center;
  background-color: #08c;
  width: 0%;
  height: 100%;
  font-size: 10px;
  line-height: 10px;
}

.introjsFloatingElement {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.introjs-fixedTooltip {
  position: fixed;
}

.introjs-hint {
  box-sizing: content-box;
  cursor: pointer;
  background: none;
  width: 20px;
  height: 15px;
  position: absolute;
}

.introjs-hint:focus {
  border: 0;
  outline: 0;
}

.introjs-hint:hover > .introjs-hint-pulse {
  background-color: #3c3c3c91;
}

.introjs-hidehint {
  display: none;
}

.introjs-fixedhint {
  position: fixed;
}

@keyframes introjspulse {
  0% {
    transform: scale(.95);
    box-shadow: 0 0 #000000b3;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #0000;
  }

  100% {
    transform: scale(.95);
    box-shadow: 0 0 #0000;
  }
}

.introjs-hint-pulse {
  box-sizing: content-box;
  z-index: 10;
  background-color: #8888883d;
  border-radius: 30px;
  width: 15px;
  height: 15px;
  transition: all .2s ease-out;
  animation: 2s infinite introjspulse;
  position: absolute;
}

.introjs-hint-no-anim .introjs-hint-pulse {
  animation: none;
}

.introjs-hint-dot {
  box-sizing: content-box;
  z-index: 1;
  opacity: 0;
  background: none;
  border-radius: 60px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -18px;
  left: -18px;
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__3b5a675d._.css.map*/